* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header_logo {
    width: 45%;
    margin: auto;
    text-align: center;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

hr {
    background: darkred;
    border: none;
    height: 2px;
}